    .recipeList .card {
      height: 280px;                 
      width: 320px;
    }
    
    .recipeList .card-img-top {
      height: 180px;  
      width: 320px;             
      object-fit: cover;            
    }


   @media (max-width: 768px) {
    .recipeSearch .card-img-top {
      height: 150px;  
      width: 100% ;      
      object-fit: cover;            
    }
  }