.recipeSearch .card {
      height: 280px;                 
      width: 360px;
    }
    
     .recipeSearch .card-img-top {
      height: 180px;  
      width: 360px;             
      object-fit: cover;            
    }





    @media (max-width: 768px) {
         .recipeSearch .card-img-top {
      height: 150px;  
      width: 100% ;      
      object-fit: cover;            
    }

      .recipeSearch {
        display: flex;
        flex-direction: column;
        margin: 0;
      }

      .recipeSearch form {
        width: 80%;
        margin: 1rem;
      }

          .recipeSearch form {
        width: 30rem;
      }
  }